Source: cups-ksmb
Section: net
Priority: extra
Maintainer: Sean Timothy Noonan <vchoi@vchoi.org>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: https://github.com/snoonan/cups-ksmb
Vcs-Git: git://github.com/snoonan/cups-ksmb.git

Package: cups-ksmb
Architecture: all
Depends: ${misc:Depends}, smbclient, cups
Description: Kerberized Samba backed for CUPS
 Uses Kerberos to authenticate against a Samba server for printing
